on: ["push", "pull_request"]

name: Test Coveralls

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: npm install, make test-coveralls
      run: |
        npm install
        make test-coverralls

    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@v2.3.6