on: ["push", "pull_request"]

name: CI

jobs:

  test:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: npm install
      run: npm install
    
    - name: run tests
      run: npm test
    
    - name: Generate coverage report
      run: npx c8 report --reporter=lcov


    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@v2.3.6
      with:
        path-to-lcov: ./coverage/lcov.info
  lint:
    name: Code standards
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install npm
        run: npm i

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Lint code
        run: npm run lint --if-present
      
